@charset "UTF-8";
/** MENU  1. Variables Layer.......变量  2. Mixins Layer..........混入  3. Common Layer..........公共  4. Layout................布局  5. Scaffolding...........脚手架  6. Components............组件  7. Pages.................页面 */
/** 1. Variables Layer */
/** color */
/** header */
/**
* 2. Mixins Layer
*/
/**
* 3. Common Layer
*/
* { padding: 0; margin: 0; }

pre, .highlight { overflow: auto; margin: 15px 0; padding: 0; font-size: 13px; color: #444; background: #fff; line-height: 1.6; }

pre, code { font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace; }

code { padding: 4px 5px; word-wrap: break-word; color: #555; background: #eee; border-radius: 3px; font-size: 13px; }

pre code { padding: 0; color: #333; background: none; text-shadow: none; }

.highlight { border-radius: 1px; border: .12em dashed #ccc; }
.highlight pre { border: none; margin: 0; padding: 15px 0; }
.highlight > pre { padding-left: 15px; padding-right: 15px; background-color: #fff; }
.highlight table { margin: -10px; width: auto; border: none; }
.highlight td { border: none; padding: 0; }
.highlight figcaption { font-size: 1em; color: #555; line-height: 1em; margin-bottom: 1em; }
.highlight figcaption:before, .highlight figcaption:after { content: " "; display: table; }
.highlight figcaption:after { clear: both; }
.highlight figcaption a { float: right; color: #555; }
.highlight figcaption a:hover { border-bottom-color: #555; }
.highlight .code pre { width: 100%; padding-left: 10px; padding-right: 10px; background-color: #f7f7f7; }
.highlight .line { height: 20px; }

.gist table { width: auto; }
.gist table td { border: none; }

pre.highlight { padding: 15px; }

pre .c, pre .cm, pre .cp, pre .c1, pre .cs { color: #8e908c; }
pre .nv, pre .vc, pre .vg, pre .vi, pre .na, pre .nt, pre .sr, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo { color: #333; }
pre .m, pre .mf, pre .mh, pre .mi, pre .il, pre .mo, pre .mx, pre .mb, pre .cp, pre .nb, pre .bp, pre .l, pre .ld, pre .params, pre .kc, pre .gp { color: #ff502c; }
pre .ruby .class .title, pre .css .rules .attribute, pre .s, pre .sb, pre .sc, pre .sd, pre .s2, pre .se, pre .sh, pre .si, pre .sx, pre .s1, pre .ss, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata, pre .special, pre .m, pre .mf, pre .mh, pre .mi, pre .il, pre .mo, pre .mx, pre .mb, pre .formula { color: #d14; }
pre .nc, pre .nf, pre .css .hexcolor { color: #333; }
pre .nf, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title { color: #444; }
pre .k, pre .kd, pre .kn, pre .kp, pre .kr, pre .kt, pre .javascript .function { color: #0086b3; }

table { margin: 20px 0; width: 100%; border-collapse: collapse; border-spacing: 0; border: 1px solid #ddd; font-size: 14px; table-layout: fixed; word-wrap: break-all; }

table > tbody > tr:nth-of-type(odd) { background-color: #f9f9f9; }
table > tbody > tr:hover { background-color: #f5f5f5; }

caption, th, td { padding: 4px 8px; text-align: left; vertical-align: middle; font-weight: normal; }

th, td { border-bottom: 3px solid #ddd; border-right: 1px solid #eee; }

th { padding-bottom: 10px; font-weight: 700; }

td { border-bottom-width: 1px; }

body { overflow-x: hidden; color: #555; font-size: 14px; background: #eee; letter-spacing: 1px; font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; }

a { color: #333; text-decoration: none; }

a:link, a:active, a:visited, a:hover { background: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: transparent; }

li { list-style-type: none; }

@media (min-width: 1600px) { .main { width: 80%; } }
@media (min-width: 992px) { .main { width: 80%; max-width: 600px; } }
@media (min-width: 769px) and (max-width: 991px) { .main { width: 70vw; } }
@media (min-width: 415px) and (max-width: 768px) { .main { width: 70vw; } }
@media (max-width: 414px) { .main { width: 100vw; } }
.main .container { position: relative; }

/**
* 4. Layout Layer
*/
#head-title { height: 45px; width: 120px; margin: 0 auto; line-height: 47px; text-align: center; }
#head-title a { height: 100%; display: inline-block; text-align: center; width: 120px; color: #333; font-size: 1.2em; font-weight: 400; }

.head-brand { width: 100%; }
.head-brand #head-back, .head-brand #head-search-btn, .head-brand #head-menu { box-sizing: border-box; position: fixed; top: 0; height: 45px; width: 45px; line-height: 45px; text-align: center; cursor: pointer; z-index: 1200; }
.head-brand #head-back { font-size: 1.8em; -webkit-text-stroke: 2px #fff; }
.head-brand #head-search #head-search-btn { font-size: 1.8em; right: 60px; -webkit-text-stroke: 1.5px #fff; }
.head-brand #head-menu { right: 8px; margin-left: 5px; }
.head-brand #head-menu .head-menu-btn { height: 42px; z-index: 1200; }

.head-line { position: fixed; top: 0; left: 0; width: 100%; height: 4px; z-index: 1000; display: block; }

progress { /* Positioning */ position: fixed; left: 0; top: 0; z-index: 1100; /* Dimensions */ width: 100%; height: .25em; /* Reset the apperance */ -webkit-appearance: none; -moz-appearance: none; appearance: none; /* Get rid of the default border in Firefox/Opera. */ border: none; /* For Firefox/IE10+ */ background-color: transparent; /* For IE10+, color of the progress bar */ color: red; }
progress .progress-container { width: 100%; background-color: transparent; position: fixed; top: 0; left: 0; height: .25em; display: block; }
progress .progress-container .progress-bar { background-color: red; width: 50%; display: block; height: inherit; }

progress::-webkit-progress-bar { background-color: transparent; }

.flat::-webkit-progress-value { background-color: red; }

.flat::-moz-progress-bar { background-color: red; }

.head-menu-btn { height: 32px; width: 44px; display: block; background-color: transparent; cursor: pointer; position: fixed; }
.head-menu-btn .drawer-hamburger-icon { position: absolute; width: 100%; height: 100%; }
.head-menu-btn .drawer-hamburger-icon span { display: inline-block; position: absolute; width: 28px; height: 1.5px; background-color: #333; transition: all .4s; -webkit-transition: all .4s; }

.head-menu-btn.active .drawer-hamburger-icon span { background-color: #000; box-shadow: -1px -1px 1px #fff; }

.head-menu-btn.active + .goback i { text-shadow: 1px 1px 1px #555; }

.drawer-hamburger-icon span:nth-of-type(1) { top: 13px; left: 8px; }

.drawer-hamburger-icon span:nth-of-type(2) { top: 21px; height: 2.5px; left: 8px; }

.drawer-hamburger-icon span:nth-of-type(3) { top: 31px; left: 8px; }

.head-menu-btn.active span:nth-of-type(1) { -webkit-transform: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); transform: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); -webkit-transform: matrix(0.8, -0.8, 0.8, 0.8, 0, 7); transform: matrix(0.8, -0.8, 0.8, 0.8, 0, 7); }

.head-menu-btn.active span:nth-of-type(2) { -webkit-transform: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); transform: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); -webkit-transform: translateX(60px); transform: translateX(60px); opacity: 0; }

.head-menu-btn.active span:nth-of-type(3) { -webkit-transform: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); transform: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); -webkit-transform: matrix(0.8, 0.8, -0.8, 0.8, 0, -10.5); transform: matrix(0.8, 0.8, -0.8, 0.8, 0, -10.5); }

#head-menu-contain { position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; font-size: 13px; line-height: 2em; z-index: 1000; background-color: rgba(255, 255, 255, 0.9); }
#head-menu-contain h2 { width: 100%; color: #333; margin-top: 60px; margin-bottom: 30px; float: left; font-size: 24px; font-weight: normal; text-align: center; font-family: sans-seif,"微软雅黑"; letter-spacing: .1em; }
#head-menu-contain .site-ham-list { list-style: none; width: 300px; margin: 0 auto; padding: 0; }
#head-menu-contain .site-ham-list li { float: left; width: 100%; border-bottom: 1px solid #000; margin-top: -1px; border-top: 1px solid #000; }
#head-menu-contain .site-ham-list li a { font-weight: 300; padding-top: 20px; padding-bottom: 20px; font-size: 1.5em; line-height: 1em; text-align: center; float: left; width: 100%; text-decoration: none; transition: all .3s ease; -webkit-transition: all .3s ease; }
#head-menu-contain .site-ham-list li a:hover { text-decoration: none; background-color: rgba(255, 255, 255, 0.3); }
#head-menu-contain .site-ham-item { float: left; width: 100%; position: relative; text-align: center; margin-top: 40px; }
#head-menu-contain .site-ham-item dt, #head-menu-contain .site-ham-item dd { float: left; width: 100%; font-size: 23px; font-weight: 300; letter-spacing: .1em; margin-bottom: 30px; text-align: center; }
#head-menu-contain .site-ham-item dt a, #head-menu-contain .site-ham-item dd a { display: block; }

#head-search-contain { display: none; position: fixed; top: 10%; left: 50%; margin-left: -350px; width: 700px; height: 80%; padding: 0; background: #fff; color: #333; z-index: 2000; border-radius: 5px; box-shadow: 2px 2px 2px 1px #eee,-2px 2px 2px 1px #eee; }
@media (max-width: 414px) { #head-search-contain { padding: 0; top: 0; left: 0; margin: 0; width: 100%; height: 100%; border-radius: 0; } }
@media (min-width: 415px) and (max-width: 768px) { #head-search-contain { padding: 0; top: 0; left: 0; margin: 0; width: 100%; height: 100%; border-radius: 0; } }
#head-search-contain .search { padding: 5px; height: 36px; background: #f5f5f5; border-top-left-radius: 5px; border-top-right-radius: 5px; }
#head-search-contain .search-input-wrapper { display: inline-block; width: calc(100% - 110px); height: 36px; line-height: 36px; padding: 0 5px; }
#head-search-contain .search-input-wrapper input { padding: 8px 0; line-height: 36px; font-size: 1.2em; height: 20px; display: block; width: 100%; outline: none; border: none; background: transparent; }
#head-search-contain .search-icon, #head-search-contain .search-close-icon { display: inline-block; font-size: 1.7em; color: #999; height: 36px; width: 18px; line-height: 36px; padding-left: 15px; padding-right: 15px; -webkit-text-stroke: 1px #f5f5f5; }
#head-search-contain .search-icon { float: left; }
#head-search-contain .search-close-icon { border-left: 1px solid #eee; float: right; font-size: 2em; cursor: pointer; }
#head-search-contain .search-result { overflow: auto; position: relative; padding: 5px 25px; height: calc(100% - 58px); }
#head-search-contain .post { margin: 20px 0 40px; }
#head-search-contain .post .post-header { text-align: left; }
#head-search-contain .post .post-header h1 { font-size: 1.2em; font-weight: 300; }
#head-search-contain .post .post-header h1 a { text-decoration: underline; }

#head-mask { display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 1500; background-color: rgba(255, 255, 255, 0.9); }

#posts { background: #eee; }

.main { padding-top: 45px; padding-bottom: 96px; margin: 0 auto; }
.main .page-heading { font-weight: 300; text-align: center; background: #eee; margin: -10px 0 0; padding: 5px 0; }
.main .page-heading span { color: #666; }
.main .post { margin: 0 0 10px; background: #fff; padding: 15px; }

.index-post .post-header { height: 58px; }
.index-post .post-content h1 { font-size: 1.1em; margin: 5px 0; }

.post-header { height: 82px; width: 100%; }
.post-header h1 { font-size: 1.2em; margin: 5px 0; }
.post-header .avatar { position: relative; }
.post-header .avatar img { height: 50px; width: 50px; border-radius: 25px; position: absolute; left: 0; top: 2px; }
.post-header .avatar .post-info { position: absolute; top: 10px; left: 58px; }
.post-header .avatar .post-info .post-author { font-size: 1.2em; font-weight: 500; }
.post-header .avatar .post-info .post-date { color: #657786; font-size: .9em; }

.post-content h3 { margin: 15px 0; font-size: .9em; color: #666; position: relative; padding-left: 15px; }
.post-content h3::before { font-family: "FontAwesome"; font-size: .2em; position: absolute; content: "\f10d"; top: 0; left: 0; }
.post-content p { line-height: 28px; margin: 10px 0; }
.post-content .post-s-img { width: 40%; margin: 5px 30%; }
@media (max-width: 414px) { .post-content .post-s-img { width: 70%; margin: 5px 15%; } }
@media (min-width: 415px) and (max-width: 768px) { .post-content .post-s-img { width: 50%; margin: 5px 25%; } }
.post-content .post-r-img { width: 80%; margin: 5px 10%; }
@media (max-width: 414px) { .post-content .post-r-img { width: 98%; margin: 5px 1%; } }

.post-footer { color: #333; }

#comment .vwrap { border: 2px solid #eee; }

.pagination { height: 30px; width: 80%; margin: 30px auto; border-top: 2px solid #ccc; text-align: center; }
.pagination .previous, .pagination .next { width: 25px; margin: 0; background: #ccc; }
.pagination .previous i, .pagination .next i { font-size: 1.2em; }
.pagination span, .pagination a { box-sizing: content-box; position: relative; display: inline-block; padding: 0 10px; margin: 0 8px; line-height: 30px; height: 100%; top: -2px; line-height: 30px; }
.pagination .page-path { color: #555; border-top: 2px solid #555; }
.pagination span { color: #fff; background: #ccc; }
.pagination .page_number { background: #555; border-top: 2px solid #555; margin: 0 -5px; padding: 0; }
.pagination .page_number a { color: #fff; }
.pagination .page-n-first, .pagination .page-n-last { padding: 0; margin: 0 -5px; border: none; background: #eee; }
.pagination .page-n-first a, .pagination .page-n-last a { color: #555; }

.move-btn { line-height: 20px; position: fixed; right: 16px; bottom: 52px; width: 40px; height: 40px; cursor: pointer; overflow: hidden; z-index: 100; }
@media (min-width: 415px) and (max-width: 768px) { .move-btn { display: none; } }
@media (max-width: 414px) { .move-btn { display: none; } }
.move-btn:hover .circle { animation: change 0.25s linear; }
.move-btn .move-con { width: 100%; height: 100%; position: relative; overflow: hidden; }
.move-btn .move-con .circle { box-sizing: border-box; width: 40px; height: 40px; border: 2px solid #000; border-radius: 50%; position: absolute; top: 0; left: 0; }
.move-btn .move-con .arrow-stop { position: absolute; top: 9px; left: 9.5px; }
.move-btn .move-con .arrow-hit { position: absolute; top: -10px; left: 9.5px; z-index: -10; animation: move 1s infinite; }

.circleProgress_wrapper { width: 40px; height: 40px; border-radius: 50%; position: relative; }
.circleProgress_wrapper .wrapper { width: 20px; height: 40px; position: absolute; top: 0; overflow: hidden; }
.circleProgress_wrapper .wrapper .circleProgress { box-sizing: border-box; width: 40px; height: 40px; border: 2px solid transparent; border-radius: 50%; position: absolute; top: 0; transform: rotate(-135deg); }
.circleProgress_wrapper .left { left: 0; }
.circleProgress_wrapper .right { right: 0; }

.arrow i { font-size: 1.5em; -webkit-text-stroke: 2px #fff; }

@keyframes move { 0% { top: -12px; opacity: 0; }
  10% { opacity: 0; }
  35% { opacity: 1; }
  75% { top: 10px; opacity: 1; }
  90% { opacity: 0.4; }
  100% { top: 35px; opacity: 0; } }
@keyframes change { 0% { opacity: 1; }
  1% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes circleProgressLoad_right { 0% { transform: rotate(-135deg); }
  50%,100% { transform: rotate(45deg); } }
@keyframes circleProgressLoad_left { 0%,50% { transform: rotate(-135deg); }
  100% { transform: rotate(45deg); } }
.move-btn:hover .rightcircle { border-top: 2px solid #000; border-right: 2px solid #000; right: 0; animation: circleProgressLoad_right 0.25s linear forwards; -webkit-animation: circleProgressLoad_right 0.25s linear forwards; }

.move-btn:hover .leftcircle { border-bottom: 2px solid #000; border-left: 2px solid #000; left: 0; animation: circleProgressLoad_left 0.25s linear forwards; -webkit-animation: circleProgressLoad_left 0.25s linear forwards; }

#footer { position: absolute; left: 0; bottom: 0; height: 84px; line-height: 54px; width: 100%; z-index: 10; text-align: center; }
#footer .contact-list { width: 90%; margin: 0 auto; }
#footer .contact-list .contact { height: 25px; margin: -10px 0 12px; }
#footer .contact-list .contact i { font-size: 1.8em; margin: 0 6px; }
#footer .contact-list .contact .fa-weibo { color: #ff5f57; }
#footer .contact-list .contact .fa-github { color: #252a2f; }
#footer .contact-list .contact .fa-twitter { color: #38a1f4; }
#footer .contact-list .contact .fa-instagram { color: #ff3366; }
#footer .contact-list .friend-link { height: 35px; width: 100%; }
#footer .contact-list .friend-link img { height: 80%; margin: 0 5px; }
#footer .contact-list .friend-link .friend-link-site { height: 120%; }

.container { position: relative; min-height: 100%; }

#header { width: 100%; height: 45px; background: #fff; position: fixed; top: 0; left: 0; color: #333; z-index: 900; box-shadow: 2px 2px 2px #ccc; }

/**
* 5. Scaffolding Layer
*/
/**
* 6. Components Layer
*/
.note { position: relative; margin: 10px 0; width: 100%; }
.note h3 { font-size: 1.2em; font-weight: 350; padding: 3px 20px; line-height: 32px; display: block; }
@media (max-width: 414px) { .note h3 { font-size: 1em; } }
.note span { letter-spacing: 1px; margin: 0; font-size: 14px; line-height: 28px; padding: 0 15px; }

.info::before, .warn::before, .error::before { content: ""; position: absolute; top: 12px; left: 1px; width: 15px; height: 15px; }

.info::before { background: #5fcf80; }
.info h3:hover { background: #5fcf80; color: #fff; }
.info span { border-bottom: 1px solid #5fcf80; }

.warn::before { background: #f69e53; }
.warn h3:hover { background: #f69e53; color: #fff; }
.warn span { border-bottom: 1px solid #f69e53; }

.error::before { background: #e50914; }
.error h3:hover { background: #e50914; color: #fff; }
.error span { border-bottom: 1px solid #e50914; }

.ques, .ans { font-size: 12px; height: 30px; display: block; border: 1px solid #666; position: relative; line-height: 30px; padding: 0 35px; margin: 5px 0; }
.ques::after, .ans::after { font-size: 18px; text-align: center; line-height: 30px; width: 30px; height: 30px; position: absolute; top: -1px; left: -1px; color: #fff; }

.ques::after { content: "Q"; background: #ff69b4; border: 1px solid #ff69b4; }

.ans::after { content: "A"; background: #0c97d2; border: 1px solid #0c97d2; }

/**
* 7. Pages Layer
*/
.page-lost { text-align: center; font-weight: 100; }
.page-lost p { font-size: 1.2em; }

.about-container img { display: block; width: 80%; margin: 0 auto; }
@media (max-width: 414px) { .about-container img { width: 90vw; margin-top: calc((100vh - 145px - 40px - 90vw) / 2); } }
.about-container .about { display: block; width: 100%; }
@media (max-width: 414px) { .about-container .about { width: 100vw; margin: 0 auto; } }
.about-container .lost { display: block; width: 70%; margin: 50px auto 0; }
@media (max-width: 414px) { .about-container .lost { width: 70vw; margin-top: calc((100vh - 145px - 40px - 80vw) / 2); margin-bottom: 20px; } }

.archive h1 { width: 90%; height: 36px; background: #aaa; color: #fff; font-weight: 400; line-height: 36px; margin: 10px auto 5px; padding-left: 10px; box-sizing: border-box; box-shadow: 2px 2px 2px #ccc; }
.archive .day { display: block; width: 90%; height: 36px; margin: 5px auto; box-shadow: 2px 2px 2px #ccc; }
.archive .day .day-date { font-size: 1.2em; font-weight: 300; text-align: center; line-height: 36px; background: #ccc; color: #fff; height: 36px; width: 18%; float: left; }
.archive .day p { padding-left: 5px; box-sizing: border-box; line-height: 36px; height: 36px; background: #fff; width: 80%; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.pages { margin: 0 4vw; --m-width:calc((100vw - 20vw - 6px) / 3); --m-radius:calc((100vw - 20vw - 6px) / 6); --m-line-height:calc((100vw - 20vw - 6px) * 4 / 15); --m-before: calc((100vw - 20vw - 6px) / 100); --p-width:calc((90vw - 24vw - 8px) / 4); --p-radius:calc((90vw - 24vw - 8px) / 8); --p-line-height:calc((90vw - 24vw - 8px) / 5); --t-width:calc((80vw - 24vw - 8px) / 4); --t-radius:calc((80vw - 24vw - 8px) / 8); --t-line-height:calc((80vw - 24vw - 8px) / 5); --d-width: 120px; --d-radius: 60px; --d-line-height: 96px; }
.pages .page-title { text-align: center; line-height: 80px; font-weight: 400; font-size: 1.4em; }
@media (min-width: 992px) { .pages { margin: 0; } }

.page-list { border: 1px solid #ccc; box-shadow: 2px 2px 2px #dcdcdc; float: left; margin: 1vw 2vw; position: relative; font-weight: 333; }
@media (max-width: 414px) { .page-list { border-radius: var(--m-radius); width: var(--m-width); height: var(--m-width); font-size: 1.2em; } }
@media (min-width: 415px) and (max-width: 768px) { .page-list { border-radius: var(--p-radius); width: var(--p-width); height: var(--p-width); font-size: 1.2em; } }
@media (min-width: 769px) and (max-width: 991px) { .page-list { width: var(--t-width); height: var(--t-width); border-radius: var(--t-radius); font-size: 1.5em; } }
@media (min-width: 992px) { .page-list { width: var(--d-width); height: var(--d-width); border-radius: var(--t-radius); font-size: 1.4em; margin: 26.5px; } }
.page-list::after { content: ""; position: absolute; height: 15px; width: 15px; border-radius: 11.5px; background: #f46a56; border: 4px solid #eee; }
@media (max-width: 414px) { .page-list::after { top: var(--m-before); left: var(--m-before); } }
@media (min-width: 415px) and (max-width: 768px) { .page-list::after { top: 1%; left: 1%; } }
@media (min-width: 769px) and (max-width: 991px) { .page-list::after { top: 5%; left: 5%; } }
@media (min-width: 992px) { .page-list::after { top: 5px; left: 5px; } }
.page-list a { display: inline-block; width: calc(80% - 2px); height: calc(80% - 2px); margin: 10%; border: 1px solid #fff; text-align: center; }
@media (max-width: 414px) { .page-list a { border-radius: var(--m-radius); line-height: var(--m-line-height); } }
@media (min-width: 415px) and (max-width: 768px) { .page-list a { border-radius: var(--p-radius); line-height: var(--p-line-height); } }
@media (min-width: 769px) and (max-width: 991px) { .page-list a { border-radius: var(--t-radius); line-height: var(--t-line-height); } }
@media (min-width: 992px) { .page-list a { border-radius: var(--d-radius); line-height: var(--d-line-height); } }

.gouzi { clear: both; }

.page-list:nth-child(2n+1)::after { background: #e50914; }

.page-list:nth-child(3n+1)::after { background: #6ecadc; }

.page-list:nth-child(4n+1)::after { background: #96bf48; }

.page-list:nth-child(5n+1)::after { background: #ed3c63; }

.page-list:nth-child(6n+1)::after { background: #df7782; }

.user { height: 80vw; width: 90%; margin: 62px auto 0; }
.user .user-info { background: #fff; height: 130px; margin: 0 auto 10px; border: 1px solid #fff; text-align: center; }
.user .user-info .user-avatar { width: 100px; height: 100px; border-radius: 53px; margin: -50px auto 0; border: 6px solid #eee; }
.user .user-info .user-avatar img { display: block; width: 100px; height: 100px; border-radius: 50px; }
.user .user-info .user-name { margin: 4px auto; font-size: 1.2em; font-weight: bold; }
.user .user-card { background: #fff; margin-bottom: 10px; padding: 5px; }
.user .user-card h4 { font-size: 1.3em; font-weight: 300; }
.user .user-card a { display: block; height: 30px; margin: 0 10px; }
.user .user-card a .day-date, .user .user-card a .day-title { display: inline-block; line-height: 30px; font-weight: 350; }
.user .user-card .uc-music, .user .user-card .uc-movie, .user .user-card .uc-tv { line-height: 28px; margin: 0 10px; }

.goal-wrapper { background: #fff; }
.goal-wrapper .goal-main { background: url(../../assets/images/site/goals.png) no-repeat; background-size: 80%; background-position: right top; padding-top: 30px; padding-bottom: 50px; }
.goal-wrapper .goal-main h3 { color: #333372; font-size: 1.2em; margin: 0 10px 100px; }
.goal-wrapper .goal-main h4 { margin: 5px 0 5px 20px; text-decoration: underline; font-weight: 300; font-size: 1.25em; }

.goal-list { margin: 5px 0 5px 35px; line-height: 30px; text-decoration: underline; text-decoration-style: dashed; }

.goal-f { color: #199645; text-decoration-color: #199645; }
